@charset "UTF-8";

/* Código Front (https://www.codigofront.com.br/)
Copyright 2021-2022 Naira Cirino */

:root {
    /* cores e gradientes */
    --blue: #366BB7;
    --white: #fff;
    --black: #000;
    --lilas: #A72CDB;
    --roxo: #9F0C84;
    --primary-gradient: linear-gradient(90deg, rgba(159, 12, 132, 1) 0%, rgba(167, 44, 219, 1) 50%, rgba(54, 107, 183, 1) 100%);

    /* tipografia */
    --corpo-de-texto: 'Coolvetica Rg', sans-serif;
    --navegacao: 'Coolvetica Condensed Rg', sans-serif;
    font-size: 20px;

    /* comportamento de tela */
    scroll-behavior: smooth;
}

/* apagando estilos padrão do navegador */

html, body, ul, li, h1, h2, h3, p, figcaption {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--roxo) !important;
    cursor: pointer;
}

.active {
    color: var(--roxo) !important;
}

/* estilos gerais */

body {
    width: 100%;
    background: var(--black, #000);
    color: var(--white, #fff);
    font-family: var(--corpo-de-texto, sans-serif);
}

a {
    color: inherit !important;
}

h1 {
    font-size: clamp(2rem, calc(2.5rem + 2.5vw), 6rem);
    text-transform: uppercase;
}

h2 {
    font-size: clamp(3rem, calc(3.5rem + 3.5vw), 10rem);
    text-transform: uppercase;
}

h3 {
    font-size: calc(1.5rem + 2vw);
}

.lg-p {
    font-size: clamp(1.1rem, 1.2rem, 1.3rem);
}

.big-p {
    font-size: clamp(1.4rem, 1.5rem, 1.6rem);
}

.bigger-p {
    font-size: clamp(1.7rem, 1.8rem, 1.9rem);
}

.margem-padrao {
    margin: 0 0 0 0;
}

@media (min-width: 768px) {
    .margem-padrao {
        margin: 0 3rem 0 3rem;
    }
}

.margem-hero {
    margin-top: 10vh;
}

.margem-hero-proj {
    margin-top: 30vh;
}

img {
    filter: grayscale(100%);
}

img:hover, .img-js-hover {
    filter: grayscale(0%);
    transition: 2s;
}

.mt-6 {
    margin-top: 5rem;
}

.mt-7 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-20 {
    margin-top: 20rem;
}

.pt-8 {
    padding-top: 3rem;
}

.pt-6 {
    padding-top: 5rem;
}

.mb-6 {
    margin-bottom: 10rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.ms-6 {
    margin-left: 20rem;
}

.me-6 {
    margin-right: 7rem;
}

.me-7 {
    margin-right: 8rem;
}

.vh-50 {
    height: 70vh !important;
}

.text-justify {
    text-align: justify;
}

.homerespeito {
    position: relative;
}

.tituloprojetoswrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navtopo li {
    width: 14%;
    display: flex;
    justify-content: center;
}

#faixarespeito {
    max-height: calc(1.3rem + 1.3vw);
    position: absolute;
    bottom: 0;
    left: -0.7rem;
    filter: grayscale(0);
    z-index: -1;
}

.purple {
    color: var(--roxo);
}

.blue-nt {
    transition: .1s;
    color: var(--blue);
}

label, input, button {
    display: block;
    font-size: 1.5rem;
}

input {
    width: 100%;
}

.textosolucao {
    font-size: calc(1.5rem + 1.8vw) !important;
}

.nav-link {
    font-family: var(--navegacao) !important;
    font-size: calc(0.8rem + 1.2vw);
}

/* footer */

footer {
    padding: 0 0 3rem 0;
}

.social-bg {
    background-color: var(--white);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-bg:hover {
    background-color: var(--roxo);
    color: var(--white);
}

.social-bg:hover i {
    color: var(--white);
}

i {
    text-decoration: none;
    color: var(--black);
}

/* barra de navegação */

#navbar {
    overflow: hidden;
    transition: 0.2s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 1.5rem
}

.logo-topo {
    width: calc(2.3rem + 2.5vw);
    filter: grayscale(0%);
}

#logo-expandido {
    padding-bottom: 1.5rem;
}

header {
    text-transform: uppercase;
    background-color: var(--black);
}

/* hero */

.hero {
    position: relative;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .hero {
        height: 85vh;
    }

    .videocover {
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
}

.square-gradient {
    width: 50%;
    height: 300px;
    background: linear-gradient(90deg, rgba(159, 12, 132, 1) 0%, rgba(167, 44, 219, 1) 35%, rgba(54, 107, 183, 1) 100%);
    position: absolute;
    right: 0;
}

.hero h1 {
    z-index: 1;
}

/* home projetos */

@media (max-width: 767px) {
    .home-projetos {
        min-height: 92vh;
    }
}

.home-projetos figcaption a {
    background-color: var(--roxo);
    font-size: calc(0.8rem + 1vw);
}

.home-projetos figcaption a:hover {
    color: inherit !important;
}

.home-projetos figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projeto-img {
    width: 100%;
}

.projeto-img-esquerda-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 32vw;
    overflow: hidden;
    position: relative;
    width: 33vw;
    background-color: var(--black);
}

.projeto-img-meio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vw;
    overflow: hidden;
    position: relative;
    width: 33vw;
    background-color: var(--black);
}

.projeto-img-direita-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 32vw;
    overflow: hidden;
    position: relative;
    width: 33vw;
    background-color: var(--black);
}

.homeprojeto-img-container {
    width: 100%;
    height: 100%;
}

.pb-1 {
    font-size: 1.1rem;
}

.underline-hover {
    border-bottom: 3px solid var(--blue);
    bottom: 7px;
    right: 0px;
    color: rgba(0, 0, 0, 0);
}

.underline-hover:hover {
    border-bottom: 3px solid var(--white);
    color: var(--blue) !important;
}

#titulo-projetos {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0.76;
}

/* home video */

.video-div {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* home infoblog */

.circulo-gradient {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(25deg, rgba(21, 0, 25, 1) 19%, rgba(103, 7, 86, 1) 74%, rgba(37, 73, 125, 1) 96%);
    z-index: -1;
    margin-right: -15px;
}

/* home cta */

.tres-linhas h3 {
    text-transform: uppercase;
}

/* servicos*/

.wrap-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div2 {
    display: flex;
    flex-direction: column;
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.servicos h3 {
    text-transform: uppercase;
}

.quero-proposta {
    border-bottom: 3px solid var(--blue);
}

.quero-proposta:hover {
    border-bottom: 3px solid var(--white);
    color: var(--blue) !important;
}

.mais-projetos {
    border-bottom: 3px solid var(--roxo);
}

.mais-projetos:hover {
    border-bottom: 3px solid var(--white);
    color: var(--roxo) !important;
}

.imgServicosDiv {
    height: 195px;
    overflow: hidden;
}

.imgServicos {
    object-fit: cover;
    width: 100%;
    object-position: center;
    filter: grayscale(100%);
}

.imgServicos:hover {
    filter: grayscale(0%);
}

.faixa-lateral {
    max-width: 2.5rem;
    top: clamp(3rem, calc(3.5rem + 3.5vw), 6rem);
    filter: grayscale(0%) !important;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(54, 107, 183, 0.6) 5%, rgba(159, 12, 132, 0.6) 50%, rgba(37, 73, 125, 0.02) 90%);
    opacity: .35;
}

.quadrado-sobre {
    filter: grayscale(0%) !important;
    z-index: -1000;
    max-width: 65%;
}

.sobre-titulo {
    line-height: .65;
}

/* home projetos */

.projetos h3 {
    text-transform: uppercase;
}

.faixa-centro {
    max-width: 2.5rem;
    margin: 0 auto;
    filter: grayscale(0%) !important;
    z-index: -1000;
    height: fill-available;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -o-fill-available;
    background: linear-gradient(180deg, rgba(54, 107, 183, 0.6) 5%, rgba(159, 12, 132, 0.6) 50%, rgba(37, 73, 125, 0.02) 90%);
    opacity: .35;
}

/* infoblog */
.circulo-infoblog {
    filter: grayscale(0%) !important;
    z-index: -1000;
    width: clamp(9rem, calc(11rem + 11vw), 18rem);
}

@media (min-width: 768px) {
    .circulo-infoblog {
        margin-left: 5rem;
    }
}

/* artigo */

.artigo-bg {
    background: linear-gradient(90deg, rgba(159, 12, 132, 1) 0%, rgba(167, 44, 219, 1) 35%, rgba(54, 107, 183, 1) 100%);
    height: 12rem;
}

.artigos h3 {
    text-transform: uppercase;
}

/* projetos cta */

.projetos-cta {
    margin-top: 35rem;
}

/* contato */

.contato-header {
    line-height: calc(2rem + 2.5vw);
    padding: 5rem 0 7rem 0;
    margin-right: calc(2rem + 2.5vw);
}

.enviar-btn {
    padding: 0 3rem 0 3rem;
    border: none;
    background-color: var(--roxo);
    color: var(--white);
}

.enviar-btn:focus {
    background-color: var(--blue) !important;
}

#ctalink {
    opacity: 0;
}

/* responsivo */

/* xs devices */

@media (max-width: 576px) {

    h1, h2 {
        text-align: center;
    }

    .itemindividual {
        margin-top: 5rem;
    }

    .imgServicos {
        height: 100%;
        width: auto;
    }

    .margem-hero-proj {
        margin-top: 25vh;
        text-align: center !important;
    }

    .textosolucao {
        text-align: center !important;
    }

    .wrap-div {
        justify-content: center;
    }

    .home-infoblog h2 {
        font-size: clamp(3rem, calc(3.5rem + 3.5vw), 70px);
        text-transform: uppercase;
    }

    .home-projetos h2 {
        font-size: clamp(3rem, calc(3.5rem + 3.5vw), 70px);
        text-transform: uppercase;
    }

    .projeto-img-esquerda-container {
        width: 100vw;
        height: 98vw;
    }

    .cheight {
        height: 85vh !important;
    }

    .projeto-img-meio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vw;
    }

    .sobre-titulo {
        line-height: initial;
    }

    .projeto-img-direita-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100vw;
        height: 100vw;
    }

    .home-projetos figcaption a {
        background-color: var(--lilas);
        font-size: clamp(28px, calc(0.8rem + 1vw), 30px);
    }

    .contato-link-texto {
        text-align: center !important;
        margin-bottom: 1rem;
    }

    .margem-hero {
        margin-top: 3vh;
    }

    .home-projetos-xs {
        display: flex;
        flex-direction: column-reverse;
    }

    .titulos-projeto-xs {
        margin-bottom: 2rem;
    }

    .video-div {
        height: 250px;
        margin: 5rem 0;
    }

    .servicos h2 {
        font-size: clamp(3rem, calc(3.5rem + 3.5vw), 60px);
        text-transform: uppercase;
    }

    .servicos-cta-titulo {
        font-size: clamp(3rem, calc(3.5rem + 3.5vw), 70px);
        text-transform: uppercase;
    }

    .mais-projetos {
        text-align: center;
    }

    .texto-desce-p {
        margin-right: 0 !important;
    }

    .infoblog-hero-sm {
        font-size: clamp(3rem, calc(3.5rem + 3.5vw), 60px);
        text-transform: uppercase;
    }

    #imgFotografia {
        object-fit: cover;
    }
}

/* sm devices */

@media (max-width: 767px) {
    .logo-topo {
        padding: 0 !important;
    }

    .dropdown i {
        color: var(--white) !important;
        font-size: 2rem;
    }

    .dropdown i:hover, .dropdown i:focus, .dropdown i:checked, .dropdown i:active {
        color: var(--roxo) !important;
    }

    #texto-sobe {
        display: none !important;
    }

    #texto-desce {
        margin-bottom: 2rem !important;
        margin-top: 1rem;
        text-align: justify;
    }

    .wrap-div {
        justify-content: flex-start !important;
    }

    .wrap-div h3 {
        text-align: center !important;
        margin-bottom: 1rem;
    }

    .div3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .servicosmobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mais-projetos, .div1 {
        margin: 0 !important;
    }

    .infoblog-hero-sm {
        text-align: start !important;
    }

    .artigo-texto-sm {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .cta-contato {
        margin-top: 0 !important;
    }

    .artigo-bg .bigger-p {
        font-size: 1.3rem;
        text-align: center;
    }

    label {
        font-size: 1rem;
    }

    .animados h1 {
        font-size: clamp(44px, calc(2.5rem + 2.5vw), 87px);
    }

    .contato-animado {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}

/* md devices */

@media (min-width: 768px) {
    #texto-desce {
        display: none !important;
    }
}

/* fade slider */
/* .slides {
    height:32vw;
    overflow:hidden;
    position:relative;
    width:33vw;
    background-color: var(--black);
} */
.projeto-img-direita-container ul, .projeto-img-esquerda-container ul, .projeto-img-meio-container ul {
    list-style: none;
    position: relative;
    width: 98%;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slides {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.slides ul li {
    opacity: 0;
    position: absolute;
    top: 0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 9.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 9.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul li:nth-child(2), .slides ul li:nth-child(2) div {
    -webkit-animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
}

.slides ul li:nth-child(3), .slides ul li:nth-child(3) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}

.slides ul li img {
    transition: all 2s ease;
    display: block;
    width: 100%;
    filter: none;
}

.zoom {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pointer {
    cursor: pointer;
}

.text-hidden {
    transition: all 2s ease;
    font-size: 0 !important;
    opacity: 0;
}

.socio1, .socio2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

.ctasobre {
    animation: dt 45s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.socios>h3 {
    text-transform: uppercase;
}

.socios h3 span {
    font-size: calc(1rem + 1vw);
}

.socios img {
    filter: grayscale(0);
}

.abrirmais {
    font-size: inherit;
    transition: all 1s ease;
    opacity: 1;
}

.textofotografia {
    font-size: inherit;
    transition: all 2s ease;
    opacity: 1;
}

.div-hidden {
    transition: all 2s ease;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.textfhidden {
    transition: all 2s ease;
    opacity: 0;
    overflow: hidden;
}

.project-title {
    display: inline;
}

.project-header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.project-header {
    text-transform: none;
}

#fotografiaesquerdawrap, #fotografiameiowrap, #fotografiadireitawrap {
    transition: all 5s ease;
}

.texto-projeto {
    opacity: 1;
    font-size: inherit;
    transition: all 1s ease;
}

.slideup {
    animation-name: slideup;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    -moz-animation-name: slideup;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slideup;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;

    -o-animation-name: slideup;
    -o-animation-duration: 1s;
    -o-animation-timing-function: linear;
    -o-animation-fill-mode: forwards;
}

@keyframes slideup {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes slideup {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideup {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes slideup {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

.slidectaup {
    animation-name: slidectaup;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0s;

    -moz-animation-name: slidectaup;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;

    -webkit-animation-name: slidectaup;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;

    -o-animation-name: slidectaup;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in;
    -o-animation-fill-mode: forwards;
    -o-animation-delay: 0s;
}

@keyframes slidectaup {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes slidectaup {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slidectaup {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes slidectaup {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.opacity0 {
    opacity: 0;
}

#ctanimacao {
    height: 100%;
}

.videoslide {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.videoslideon {
    width: 100%;
    height: 100%;
    filter: grayscale(0);
}


.bg-home-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nohover {
    text-decoration: none;
    color: var(--white) !important;
}

.nohover:hover {
    color: var(--white) !important;
}

.servicosheroh2, .servicosstart {
    padding-top: 30vh;
}

.infoblog-hero {
    padding-top: 25vh;
}

.herosobre, .sobrestart {
    padding-top: 15vh;
    min-height: 70vh;
}

.infostart {
    padding-top: 30vh;
}

@media (min-width: 768px) {
    .servicosheroh2, .servicosstart, .herosobre, .sobrestart {
        padding-top: 40vh;
    }

    .infoblog-hero, .infostart {
        padding-top: 30vh;
    }
}