@charset "UTF-8";

/* Código Front (https://www.codigofront.com.br/)
Copyright 2021-2022 Naira Cirino */

:root {
    /* cores e gradientes */
    --blue: #366BB7;
    --white: #fff;
    --black: #000;
    --lilas: #A72CDB;
    --roxo: #9F0C84;
    --primary-gradient: linear-gradient(90deg, rgba(159,12,132,1) 0%, rgba(167,44,219,1) 50%, rgba(54,107,183,1) 100%);

    /* tipografia */
    --corpo-de-texto: 'Coolvetica Rg', sans-serif;
    --navegacao: 'Coolvetica Condensed Rg', sans-serif;
    font-size: 20px;

    /* comportamento de tela */
    scroll-behavior: smooth;
}

/* apagando estilos padrão do navegador */

html, body, ul, li, h1, h2, h3, p, figcaption {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--roxo) !important;
}

.active {
    color: var(--roxo) !important;
}

/* estilos gerais */

body {
    width: 100%;
    background: var(--black, #000);
    color: var(--white, #fff);
    font-family: var(--corpo-de-texto, sans-serif);
}

a {
    color: inherit !important;
}

h1 {
    font-size: calc(2.5rem + 2.5vw);
    text-transform: uppercase;
}

h2 {
    font-size: calc(3.5rem + 3.5vw);
    text-transform: uppercase;
}

h3 {
    font-size: calc(1.5rem + 2vw);
}

.big-p {
    font-size: 1.5rem;
}

.bigger-p {
    font-size: 1.8rem;
}

.margem-padrao {
    margin: 0 3rem 0 3rem;
}

.margem-hero {
    margin-top: 10vh;
}

img {
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0%);
}

.mt-6 {
    margin-top: 5rem;
}

.mt-7 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 7rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-20 {
    margin-top: 20rem;
}

.pt-8 {
    padding-top: 3rem;
}

.mb-6 {
    margin-bottom: 10rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.ms-6 {
    margin-left: 20rem;
}

.me-6 {
    margin-right: 7rem;
}

.me-7 {
    margin-right: 8rem;
}

.vh-50 {
    height: 70vh !important;
}

.text-justify {
    text-align: justify;
}

.purple {
    color: var(--roxo);
}

label, input, button {
    display: block;
    font-size: 1.5rem;
}

input {
    width: 100%;
}

.nav-link {
    font-family: var(--navegacao) !important;
    font-size: calc(1.1rem + 0.8vw);
}

/* footer */

footer {
    padding: 0 0 3rem 0;
}

.social-bg {
    background-color: var(--white);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    text-decoration: none;
    color: var(--black);
}

/* barra de navegação */

.logo-topo {
    width: calc(3rem + 2.5vw);
}

header {
    text-transform: uppercase;
    background-color: var(--black);
}

/* hero */

.hero {
    position: relative;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .hero {
        height: 92vh;
    }
}

.square-gradient {
    width: 50%;
    height: 300px;
    background: linear-gradient(90deg, rgba(159,12,132,1) 0%, rgba(167,44,219,1) 35%, rgba(54,107,183,1) 100%);
    position: absolute;
    right: 0;
}

.hero h1 {
    z-index: 1;
}

/* home projetos */

.projetos {
    height: 99vh;
}

@media (max-width: 767px) {
    .projetos {
        height: 92vh;
    }
}

.projetos figcaption a {
    background-color: var(--lilas);
    font-size: calc(0.8rem + 1vw);
}

.projetos figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projeto-img {
    width: 100%;
}

.projeto-img-esquerda-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
}

.projeto-img-meio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
}

.projeto-img-direita-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 98%;
}

.pb-1 {
    font-size: 1.1rem;
}

/* home video */


/* home infoblog */

.circulo-gradient {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(25deg, rgba(21,0,25,1) 19%, rgba(103,7,86,1) 74%, rgba(37,73,125,1) 96%);
    z-index: -1;
    margin-right: -15px;
}

/* home cta */

.tres-linhas h3 {
    text-transform: uppercase;
}

/* servicos*/

.servicos {
    margin-top: 13rem;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div2 {
    display: flex;
    flex-direction: column;
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.servicos h3 {
    text-transform: uppercase;
}

/* home projetos */

.projetos {
    margin-top: 13rem;
}

.projetos h3 {
    text-transform: uppercase;
}

/* artigo */

.artigo-bg {
    background: var(--blue);
    height: 12rem;
}

/* projetos cta */

.projetos-cta {
    margin-top: 35rem;
}