@charset "UTF-8";

/* Código Front (https://www.codigofront.com.br/)
Copyright 2021-2022 Naira Cirino */

:root {
    /* cores e gradientes */
    --blue: #0d6efd;
    --white: #fff;
    --black: #000;
    --lilas: rgb(137, 84, 185);
    --primary-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    /* tipografia */
    --corpo-de-texto: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --titulos: ;
    --subtitulos: ;

    /* comportamento de tela */
    scroll-behavior: smooth;
}

/* apagando estilos padrão do navegador */

html, body, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* estilos gerais */

body {
    width: 100%;
    background: var(--black, #000);
    color: var(--white, #fff);    
    font-size: 18px;
    font-family: var(--corpo-de-texto, sans-serif);
}

a {
    color: inherit !important;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
}

.margem-padrao {
    margin: 0 3rem 0 3rem;
}

img {
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0%);
}

/* footer */

footer {
    padding: 0 0 0 0;
}

/* barra de navegação */

.logo-topo {
    width: 3rem;
}

header {
    text-transform: uppercase;
    background-color: var(--black);
}

/* hero */

.hero {
    border: #fff solid 1px;
    position: relative;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .hero {
        height: 92vh;
    }
}

.square-gradient {
    width: 50%;
    height: 200px;
    background-color: var(--blue);
    position: absolute;
    right: 0;
}

.hero h1 {
    z-index: 1;
    text-transform: uppercase;
}

/* projetos */

.projetos {
    border: #fff solid 1px;
    height: 99vh;
}

@media (max-width: 767px) {
    .projetos {
        height: 92vh;
    }
}

.projetos figcaption {
    background-color: var(--lilas);
    font-size: 1.2em;
}

.projetos figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projeto-img {
    width: 100%;
}

.projeto-img-esquerda-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
}

.projeto-img-meio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
}

.projeto-img-direita-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 98%;
}

/* video */


/* infoblog */

.infoblog {
    border: #fff solid 1px;
}

.pt-8 {
    padding-top: 3rem;
}

.circulo-gradient {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--blue);
    z-index: -1;
}